<div class="fx-panel fx-panel-primary">
  <div class="fx-panel-heading">Edit Alarm</div>
  <div class="fx-panel-body">
    <div class='row'>
      <div class='col-md-12'>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>


