<p>
  <strong>Command:</strong>
  <%= alarm_condition.command %>
</p>
 
<p>
  <strong>Comparator:</strong>
  <%= alarm_condition.comparator %>
</p>
<p>
  <strong>Value:</strong>
  <%= alarm_condition.value %>
</p>
