/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 

body {
    padding-top: 50px;
	background:#ffffaa !important;
}

a {
    color: #000 !important;
    text-decoration: underline !important;
}

.row{
	background:#ffffaa;
}

.fx-panel {
    background-color: #ffffaa;
	padding: 5px;
}

.fx-panel-body {
	background-color: #ffffaa;
    border: 1px;
	border-color: #bbbbbb;
}

.fx-panel-heading {
	background-color: #ffffaa;
    font-family:"Verdana";
	font-weight:bold;
}

.sub-header {
    border-bottom: 10px solid #EEEEEE;
    padding-bottom: 10px;
}
.sidebar {
    display: none;
}
@media (min-width: 768px) {
.sidebar {
    /*border-right: 1px solid #000000;*/
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    position: fixed;
    
    z-index: 1000;
}
}
.nav-sidebar {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -21px;
}
.nav-sidebar > li > a {
    padding-left: 20px;
    padding-right: 20px;
}
.nav-sidebar > .active > a {
    background-color: #428BCA;
    color: #FFFFFF;
}
.main {
    padding: 90px;
}


@media (min-width: 768px) {
	.main {
    	padding-left: 40px;
    	padding-right: 40px;
		border: 1px solid #555555;
	}
}
.main .page-header {
    margin-top: 0;
	
}
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    border-radius: 0%;
    display: inline-block;
}

.big{
	font-size: 25px;
}



